ion-content {
    --padding-start: 2rem;
    --padding-end: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 3rem;

    h1 {
        font-size: 3rem;
        font-weight: 600;
        color: #515151;
        // margin-left: 25px;
    }
}

.avatar {
    width: 35px;
    height: 35px;
    // margin-right: 15px;
    background-color: #6b45bc;
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;

    ion-img {
        width: 90%;
        height: 90%;
    }
}

//wrapper
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .image-card {
        background-color: #f3f3f3;
        padding: 0.8rem;
        border-radius: 1.5rem;
        margin-bottom: 0.5rem;
    }

    ion-img {
        opacity: 0.8;
    }

    p {
        color: #c7c7c7;
    }
}

.wrapper.active {
    .image-card {
        background-color: #6b45bc;
    }
    p{
        color: #1d1d1d;
        font-weight: 600;
    }
}

.categories{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
}

.listheader{
    font-weight: 700;
    color: #515151;
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
    margin-top: 2.5rem;
}
.food-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
.card{
    width: 100%;
    padding: 1.6rem 2rem;
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 2.5rem;
    margin-bottom: 1.5rem;
    
    .card-container{
        text-align: center;
    }
    .title{
        font-weight: 700;
        font-size: size 1.1em;
        margin-bottom: 0.2rem;
        color: #1d1d1d;
    }
    .subtitle{
        font-size: 1.3rem;
        font-weight: 700;
        color: #ffb800;
        margin-top: 0;


    }
    ion-buttons{
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translate(-50%);
        
        ion-button{
            --background:#6b45bc;
            font-weight: 700;
            color: #fff;
            width: 40px;
            height: 40px;

            --padding-start:0;
            --padding-end:0;
            --padding-top:0;
            --padding-bottom:0
        }

    }
}