ion-searchbar{
    --box-shadow: none;
    --background: #f3f3f3;
    --padding: 0;
    margin-bottom: 2rem;
    // padding-left: 1rem;
    width: auto;
    --border-radius:2rem;
    position: relative;
}